node_modules

public/dist/user.css

public/uploads/**
public/Lychee-front/**

storage/*.key
storage/clockwork/**
storage/debugbar/**
storage/framework/cache/data/**
storate/framework/session/**
storate/framework/testing/**
storate/framework/views/**
storate/framework/logs/**

composer-cache/**
bootstrap/cache/**
database/database.sqlite

/vendor/**
/.git
.idea
.vscode
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

aliases

Lychee/*
.phpunit*
_ide*

.php_cs.cache
.php-cs-fixer.cache

*.log
clover.xml
*.swp
installed.log
.DS_Store
.NO_SECURE_KEY
.NO_AUTO_COMPOSER_MIGRATE
